{% extends 'base.html' %}

{% load static %}

{% block content %}


<style>
.submit {
        border:1px solid #393f4d;
        border-radius: 2cm;
        height: 42px;
        width: 160px;
        text-align: center;
        background: #ffa600;
        color:black;
        font-weight: bold;
        font-size: 24px;
        font-family: "Times New Roman";
        vertical-align:top;
}
.submit:hover {
      background:black ;
      color: white;
      font-weight: bold;
    }
</style>
<!-- execute_scripts.html -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hand Gestures</title>
</head>
<body>
    <h1>Hand Gesture Recognition</h1>
    <form method="post" action="{% url 'handgestures' %}">
        {% csrf_token %}
        <button type="submit" name="start_detection" class="submit">Start</button>
        
    </form>
   
    <script>
        document.getElementById("start_detection").addEventListener("click", function() {
            fetch('/handgestures/', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken')  // Function to retrieve CSRF token from cookie
                },
                body: JSON.stringify({'start_detection': true})
            });
        });

        document.getElementById("stop_detection").addEventListener("click", function() {
            fetch('/handgestures/', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken')  // Function to retrieve CSRF token from cookie
                },
                body: JSON.stringify({'stop_detection': true})
            });
        });
    </script>
</body>
</html>



{% endblock %}
